In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[3]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/03 05:46:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
sc = spark.sparkContext

In [12]:
sc.defaultParallelism

3

In [3]:
df = spark.read \
    .option("header", "true") \
    .parquet('fhvhv_tripdata_2021-01.parquet')

In [4]:
df.rdd.getNumPartitions()

3

In [24]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('originating_base_num', StringType(), True), StructField('request_datetime', TimestampType(), True), StructField('on_scene_datetime', TimestampType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropoff_datetime', TimestampType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('trip_miles', DoubleType(), True), StructField('trip_time', LongType(), True), StructField('base_passenger_fare', DoubleType(), True), StructField('tolls', DoubleType(), True), StructField('bcf', DoubleType(), True), StructField('sales_tax', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('airport_fee', DoubleType(), True), StructField('tips', DoubleType(), True), StructField('driver_pay', DoubleType(), True), StructField('shared_request_flag', StringType(), True), StructField('shared_match_flag', StringType(), True), StructField('access_a_ride_flag', StringType(), True), StructField('wav_request_flag', StringType(), True), StructField('wav_match_flag', StringType(), True)])

In [25]:
import pandas as pd

In [41]:
df_pandas = pd.read_parquet('fhvhv_tripdata_2021-01.parquet')

In [37]:
df_pandas

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02682,B02682,2021-01-01 00:28:09,2021-01-01 00:31:42,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,5.26,...,1.98,2.75,NaN,0.00,14.99,N,N,,N,N
1,HV0003,B02682,B02682,2021-01-01 00:45:56,2021-01-01 00:55:19,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,3.65,...,1.63,0.00,NaN,0.00,17.06,N,N,,N,N
2,HV0003,B02764,B02764,2021-01-01 00:21:15,2021-01-01 00:22:41,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,3.51,...,1.25,2.75,NaN,0.94,12.98,N,N,,N,N
3,HV0003,B02764,B02764,2021-01-01 00:39:12,2021-01-01 00:42:37,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,0.74,...,0.70,2.75,NaN,0.00,7.41,N,N,,N,N
4,HV0003,B02764,B02764,2021-01-01 00:46:11,2021-01-01 00:47:17,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,9.20,...,2.41,2.75,NaN,0.00,22.44,N,N,,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11908463,HV0003,B02765,B02765,2021-01-31 23:13:51,2021-01-31 23:25:03,2021-01-31 23:25:40,2021-01-31 23:40:10,89,71,2.29,...,1.49,0.00,NaN,0.00,12.06,N,N,,N,N
11908464,HV0003,B02872,B02872,2021-01-31 23:23:56,2021-01-31 23:29:03,2021-01-31 23:29:31,2021-01-31 23:47:44,182,167,4.10,...,1.53,0.00,NaN,2.00,13.66,N,N,,N,N
11908465,HV0003,B02872,B02872,2021-01-31 23:42:53,2021-01-31 23:49:23,2021-01-31 23:49:32,2021-02-01 00:04:36,167,169,2.40,...,1.73,0.00,NaN,0.00,15.53,N,N,,N,N
11908466,HV0003,B02764,B02764,2021-01-31 23:04:32,2021-01-31 23:09:13,2021-01-31 23:09:29,2021-01-31 23:27:46,188,37,3.60,...,1.76,0.00,NaN,0.00,17.36,N,N,,N,N
11908467,HV0003,B02764,B02764,2021-01-31 23:22:20,2021-01-31 23:28:33,2021-01-31 23:28:33,2021-01-31 23:56:36,37,4,5.76,...,3.14,2.75,NaN,0.00,21.69,N,N,,N,N

In [42]:
df_pandas.dtypes

hvfhs_license_num               object
dispatching_base_num            object
originating_base_num            object
request_datetime        datetime64[ns]
on_scene_datetime       datetime64[ns]
pickup_datetime         datetime64[ns]
dropoff_datetime        datetime64[ns]
PULocationID                     int64
DOLocationID                     int64
trip_miles                     float64
trip_time                        int64
base_passenger_fare            float64
tolls                          float64
bcf                            float64
sales_tax                      float64
congestion_surcharge           float64
airport_fee                    float64
tips                           float64
driver_pay                     float64
shared_request_flag             object
shared_match_flag               object
access_a_ride_flag              object
wav_request_flag                object
wav_match_flag                  object
dtype: object

In [38]:
from sys import getsizeof
getsizeof(df_pandas)/1000000

7103.403139

In [39]:
### DELETE variable and use garbage collection to free memory in ram
import gc
del df_pandas
gc.collect()

0

In [40]:
df_pandas

NameError: name 'df_pandas' is not defined

In [7]:
df = df.repartition(24)

In [8]:
df.write.parquet('fhvhv/2021/01/')

In [9]:
df = spark.read.parquet('fhvhv/2021/01/')

In [11]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- originating_base_num: string (nullable = true)
 |-- request_datetime: timestamp (nullable = true)
 |-- on_scene_datetime: timestamp (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- trip_miles: double (nullable = true)
 |-- trip_time: long (nullable = true)
 |-- base_passenger_fare: double (nullable = true)
 |-- tolls: double (nullable = true)
 |-- bcf: double (nullable = true)
 |-- sales_tax: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- tips: double (nullable = true)
 |-- driver_pay: double (nullable = true)
 |-- shared_request_flag: string (nullable = true)
 |-- shared_match_flag: string (nullable = true)
 |-- access_a_ride_flag: string (nullable = true)
 |-- wav_request_flag: string (nullable = true)
 |-- wav_match_flag: string (nullable = true)

In [14]:
type(df)

pyspark.sql.dataframe.DataFrame

In [17]:
df.select('hvfhs_license_num', 'pickup_datetime','PULocationID','DOLocationID')\
.filter(df.hvfhs_license_num == 'HV0003')

DataFrame[hvfhs_license_num: string, pickup_datetime: timestamp, PULocationID: bigint, DOLocationID: bigint]

In [19]:
df.select('hvfhs_license_num', 'pickup_datetime','PULocationID','DOLocationID')\
.filter(df.hvfhs_license_num == 'HV0003').show()

+-----------------+-------------------+------------+------------+
|hvfhs_license_num|    pickup_datetime|PULocationID|DOLocationID|
+-----------------+-------------------+------------+------------+
|           HV0003|2021-01-11 18:40:22|         262|         231|
|           HV0003|2021-01-05 15:13:22|          61|         181|
|           HV0003|2021-01-31 18:42:09|         232|           4|
|           HV0003|2021-01-27 22:24:36|          68|          68|
|           HV0003|2021-01-30 08:35:46|         256|         255|
|           HV0003|2021-01-16 02:25:35|          89|          91|
|           HV0003|2021-01-11 11:58:23|          97|          61|
|           HV0003|2021-01-03 07:44:58|          26|         178|
|           HV0003|2021-01-14 18:52:00|         181|         198|
|           HV0003|2021-01-08 20:35:35|          76|          91|
|           HV0003|2021-01-15 13:49:48|         246|          16|
|           HV0003|2021-01-27 10:37:56|         135|          73|
|           HV0003|2021-01-11 17:29:44|          68|         211|
|           HV0003|2021-01-24 21:32:15|         249|         236|
|           HV0003|2021-01-26 18:03:39|          79|           4|
|           HV0003|2021-01-07 08:05:32|          22|          25|
|           HV0003|2021-01-12 17:16:00|          69|         119|
|           HV0003|2021-01-16 21:00:39|         239|         239|
|           HV0003|2021-01-14 23:35:14|          61|          62|
|           HV0003|2021-01-17 23:23:11|         241|          20|
+-----------------+-------------------+------------+------------+
only showing top 20 rows

In [20]:
df.select('hvfhs_license_num', 'pickup_datetime','PULocationID','DOLocationID')\
.filter(df.hvfhs_license_num == 'HV0003').take(5)

[Row(hvfhs_license_num='HV0003', pickup_datetime=datetime.datetime(2021, 1, 11, 18, 40, 22), PULocationID=262, DOLocationID=231),
 Row(hvfhs_license_num='HV0003', pickup_datetime=datetime.datetime(2021, 1, 5, 15, 13, 22), PULocationID=61, DOLocationID=181),
 Row(hvfhs_license_num='HV0003', pickup_datetime=datetime.datetime(2021, 1, 31, 18, 42, 9), PULocationID=232, DOLocationID=4),
 Row(hvfhs_license_num='HV0003', pickup_datetime=datetime.datetime(2021, 1, 27, 22, 24, 36), PULocationID=68, DOLocationID=68),
 Row(hvfhs_license_num='HV0003', pickup_datetime=datetime.datetime(2021, 1, 30, 8, 35, 46), PULocationID=256, DOLocationID=255)]

In [21]:
from pyspark.sql import functions as F

In [23]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select('PULocationID','pickup_date')\
    .show()

+------------+-----------+
|PULocationID|pickup_date|
+------------+-----------+
|         262| 2021-01-11|
|          61| 2021-01-05|
|         100| 2021-01-02|
|         232| 2021-01-31|
|         162| 2021-01-05|
|          68| 2021-01-27|
|         205| 2021-01-18|
|         256| 2021-01-30|
|          89| 2021-01-16|
|         132| 2021-01-05|
|          97| 2021-01-11|
|          79| 2021-01-22|
|          26| 2021-01-03|
|         181| 2021-01-14|
|          76| 2021-01-08|
|         246| 2021-01-15|
|         135| 2021-01-27|
|          74| 2021-01-18|
|          68| 2021-01-11|
|         249| 2021-01-24|
+------------+-----------+
only showing top 20 rows

In [24]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [26]:
from pyspark.sql import types
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [27]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
    .select('base_id', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-------+-----------+------------+------------+------------+
|base_id|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-------+-----------+------------+------------+------------+
|  e/acc| 2021-01-11|  2021-01-11|         262|         231|
|  e/a39| 2021-01-05|  2021-01-05|          61|         181|
|  e/9ce| 2021-01-02|  2021-01-02|         100|           1|
|  e/b42| 2021-01-31|  2021-01-31|         232|           4|
|  s/af0| 2021-01-05|  2021-01-05|         162|           1|
|  a/b43| 2021-01-27|  2021-01-27|          68|          68|
|  e/9ce| 2021-01-18|  2021-01-18|         205|         205|
|  e/b35| 2021-01-30|  2021-01-30|         256|         255|
|  e/b3b| 2021-01-16|  2021-01-16|          89|          91|
|  e/9ce| 2021-01-05|  2021-01-05|         132|         102|
|  e/acc| 2021-01-11|  2021-01-11|          97|          61|
|  e/9ce| 2021-01-22|  2021-01-22|          79|          37|
|  e/b32| 2021-01-03|  2021-01-03|          26|         178|
|  a/b49| 2021-01-14|  2021-01-14|         181|         198|
|  e/acc| 2021-01-08|  2021-01-08|          76|          91|
|  e/b3c| 2021-01-15|  2021-01-15|         246|          16|
|  s/b36| 2021-01-27|  2021-01-27|         135|          73|
|  e/9ce| 2021-01-18|  2021-01-18|          74|         234|
|  e/a39| 2021-01-11|  2021-01-11|          68|         211|
|  e/b3f| 2021-01-24|  2021-01-24|         249|         236|
+-------+-----------+------------+------------+------------+
only showing top 20 rows